[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
logging = "0.4.9.6"
deluge-client = "1.10.2"
pydantic = "2.11.7"
pydantic-settings = "2.10.1"
python-telegram-bot = { extras = ["all"], version = "22.3" }
ptbcontrib = {ref = "main", git = "https://github.com/python-telegram-bot/ptbcontrib.git"}
apscheduler = "==3.11.0"
mongopersistence = "0.3.2"
mongoengine = "0.29.1"

[dev-packages]

[requires]
python_version = "3.12"
